* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top,
            #ECF4E8, #ABE7B2);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 50px;
    box-shadow: 0 0 30px #afafaf
}

h3 {
    color: #002765;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    font-size: 30px;
}

h3 img {
    width: 40px;
    position: absolute;
    right: 0;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 3px groove black;
    outline-offset: 5px;

    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #5d5d5d;
}

input {
    flex: 1;
    outline: none;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600px;
    letter-spacing: 1px;
    padding: 10px;
}

input::placeholder {
    color: #1e002f;
}

#addTask {
    border: none;
    outline: none;
    padding: 16px;
    background: #4A70A9;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    margin: 1px;
}


.main {
    display: flex;
    justify-content: space-between;
    gap: 30px;



}

#edit {
    justify-content: center;
    height: 20px;
    width: 50px;
    background: #4A70A9;
    color: white;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
    
    

}

#del{
    justify-content: center;
    height: 20px;
    width: 50px;
    background:#DC0E0E;
    color: white;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}